<h1>Abertura de Chamado</h1>
<div>
<form action="/add" method="POST" id="fundo-branco">
    <p>Nome: </p> <input type="text" name="nome" id="caixas-de-dialogo">
    <p>Setor: </p> <input type="text" name="setor" id="caixas-de-dialogo">
    <p>Descrição: </p> <textarea name="descricao" cols="30" rows="10" id="caixas-de-dialogo"></textarea>
    </div></br>
    <button type="submit" class="button-29" role="button">Abrir Chamado</button>
</form>
</div>