{{!-- <h1>Caminho home</h1> --}}
<h1>Lista de posts:</h1>
<div id="fundo-branco">
    {{#each posts}}
    <h2>Nome: </h2>{{nome}}
    <h2>Setor: </h2>{{setor}}
    <h3>Descrição: </h3>{{descricao}}
    <hr>
    {{/each}}
</div>